django
django-cors-headers
djangorestframework
gunicorn
whitenoise
python-dotenv
requests
groq
google-genai
langdetect
edge-tts
moviepy
gTTS
gender-guesser
deep-translator
pdfplumber
pydub
google-auth
google-api-python-client