django
djangorestframework
django-cors-headers
gunicorn
whitenoise

python-dotenv
requests

google-genai
groq
langdetect
deep-translator

edge-tts
gTTS
pydub

moviepy==1.0.3
imageio-ffmpeg

pdfplumber
pytesseract
Pillow

gender-guesser

google-auth
google-api-python-client

dj-database-url
psycopg2-binary