django
django-cors-headers
djangorestframework
gunicorn
whitenoise
python-dotenv
requests
groq
google-genai
langdetect
edge-tts
gTTS
moviepy
hashlib
spacy
transformers
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
gender-guesser
deep-translator
pdfplumber
pdf2image
pytesseract
Pillow
google-auth
google-api-python-client